/* .swiper {
  width: 100%;
  height: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.5;
}

.custom-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

/* Tùy chọn: Nếu bạn muốn tăng kích thước của các dot */
.custom-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

/* Tùy chọn: Nếu bạn muốn thay đổi khoảng cách giữa các dot */
.custom-swiper .swiper-pagination-bullet {
  margin: 0 6px;
}

/* Tùy chọn: Nếu bạn muốn di chuyển vị trí của pagination */
.custom-swiper .swiper-pagination {
  bottom: 20px; /* Điều chỉnh giá trị này để di chuyển pagination lên hoặc xuống */
}
